
pytorch_tests/checkpoint/.DS_Store
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_1024.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_1024_adp.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_1024_adp_delay.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_1024_adp_delay_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_1024_adp_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_1024_delay.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_1024_delay_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_1024_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_128.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_128_adp.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_128_adp_delay.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_128_adp_delay_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_128_adp_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_128_delay.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_128_delay_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_128_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_2048.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_2048_adp.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_2048_adp_delay.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_2048_adp_delay_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_2048_adp_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_2048_delay.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_2048_delay_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_2048_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_256.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_256_adp.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_256_adp_delay.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_256_adp_delay_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_256_adp_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_256_delay.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_256_delay_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_256_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_512.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_512_adp.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_512_adp_delay.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_512_adp_delay_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_512_adp_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_512_delay.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_512_delay_vreset.t7
pytorch_tests/checkpoint/all_models_14_04/shd_rnn_512_vreset.t7
pytorch_tests/checkpoint/marshalling_rnn_1024.t7
pytorch_tests/checkpoint/marshalling_rnn_256.t7
pytorch_tests/checkpoint/nmnist_rnn_1024_wta.t7
pytorch_tests/checkpoint/nmnist_rnn_256.t7
pytorch_tests/checkpoint/nmnist_rnn_256/fc_hh.weight.npz
pytorch_tests/checkpoint/nmnist_rnn_256/fc_ho.weight.npz
pytorch_tests/checkpoint/nmnist_rnn_256/fc_ih.weight.npz
pytorch_tests/checkpoint/nmnist_rnn_256/model_info
pytorch_tests/checkpoint/nmnist_rnn_256/tau_m_h.npz
pytorch_tests/checkpoint/nmnist_rnn_256_wta.t7
pytorch_tests/checkpoint/nmnist_rnn_32.t7
pytorch_tests/checkpoint/nmnist_rnn_32/fc_hh.weight.npz
pytorch_tests/checkpoint/nmnist_rnn_32/fc_ho.weight.npz
pytorch_tests/checkpoint/nmnist_rnn_32/fc_ih.weight.npz
pytorch_tests/checkpoint/nmnist_rnn_32/model_info
pytorch_tests/checkpoint/nmnist_rnn_32/tau_m_h.npz
pytorch_tests/checkpoint/nmnist_rnn_lsm_256/fc_hh.weight.npz
pytorch_tests/checkpoint/nmnist_rnn_lsm_256/fc_ho.weight.npz
pytorch_tests/checkpoint/nmnist_rnn_lsm_256/fc_ih.weight.npz
pytorch_tests/checkpoint/nmnist_rnn_lsm_4096/fc_hh.weight.npz
pytorch_tests/checkpoint/nmnist_rnn_lsm_4096/fc_ho.weight.npz
pytorch_tests/checkpoint/nmnist_rnn_lsm_4096/fc_ih.weight.npz
pytorch_tests/checkpoint/rsnn
pytorch_tests/checkpoint/shd_rnn_1024_delay_r.t7
pytorch_tests/checkpoint/shd_rnn_1024_r.t7
pytorch_tests/checkpoint/shd_rnn_1024r/fc_hh.weight.npz
pytorch_tests/checkpoint/shd_rnn_1024r/fc_ho.weight.npz
pytorch_tests/checkpoint/shd_rnn_1024r/fc_ih.weight.npz
pytorch_tests/checkpoint/shd_rnn_1024r/model_info
pytorch_tests/checkpoint/shd_rnn_1024r/tau_m_h.npz
pytorch_tests/checkpoint/shd_rnn_128_delay_r.t7
pytorch_tests/checkpoint/shd_rnn_128_r.t7
pytorch_tests/checkpoint/shd_rnn_2048_delay_r.t7
pytorch_tests/checkpoint/shd_rnn_2048_r.t7
pytorch_tests/checkpoint/shd_rnn_256.t7
pytorch_tests/checkpoint/shd_rnn_256/fc_hh.weight.npz
pytorch_tests/checkpoint/shd_rnn_256/fc_ho.weight.npz
pytorch_tests/checkpoint/shd_rnn_256/fc_ih.weight.npz
pytorch_tests/checkpoint/shd_rnn_256/model_info
pytorch_tests/checkpoint/shd_rnn_256/tau_m_h.npz
pytorch_tests/checkpoint/shd_rnn_256_delay_r.t7
pytorch_tests/checkpoint/shd_rnn_256_dropout.t7
pytorch_tests/checkpoint/shd_rnn_256_r.t7
pytorch_tests/checkpoint/shd_rnn_256r/fc_hh.weight.npz
pytorch_tests/checkpoint/shd_rnn_256r/fc_ho.weight.npz
pytorch_tests/checkpoint/shd_rnn_256r/fc_ih.weight.npz
pytorch_tests/checkpoint/shd_rnn_256r/model_info
pytorch_tests/checkpoint/shd_rnn_256r/tau_m_h.npz
pytorch_tests/checkpoint/shd_rnn_32.t7
pytorch_tests/checkpoint/shd_rnn_32/fc_hh.weight.npz
pytorch_tests/checkpoint/shd_rnn_32/fc_ho.weight.npz
pytorch_tests/checkpoint/shd_rnn_32/fc_ih.weight.npz
pytorch_tests/checkpoint/shd_rnn_32/model_info
pytorch_tests/checkpoint/shd_rnn_32/tau_m_h.npz
pytorch_tests/checkpoint/shd_rnn_512_delay_r.t7
pytorch_tests/checkpoint/shd_rnn_512_r.t7
pytorch_tests/old_scripts/IBM_SRNN.ipynb
pytorch_tests/old_scripts/NMNIST_LSM.ipynb
pytorch_tests/old_scripts/NMNIST_LSMQ.ipynb
pytorch_tests/old_scripts/SHD_SRNN-ALIF.ipynb
pytorch_tests/old_scripts/SHD_SRNN.ipynb
pytorch_tests/old_scripts/SL_SRNN.ipynb
pytorch_tests/pil_text.png
pytorch_tests/reg_effect.gif
pytorch_tests/results.xls
pytorch_tests/shd_explore.ipynb
pytorch_tests/SHD_SRNN-MultiTrain.ipynb
pytorch_tests/SHD_SRNN_new_delay_tests.ipynb
pytorch_tests/SRNN-test-delay.ipynb
pytorch_tests/SRNN_monitor-tests-marshalling.ipynb
pytorch_tests/WTA-mask-tests.ipynb
